@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .second-screen__tabs {
    width: 745px;
    margin: 50px auto 0;
  }
  .second-screen__cards {
    width: 735px;
    margin: 50px auto 0;
    height: auto;
  }
  .card__info {
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .card__info .card__info-img,
  .card__info .card__info-text {
    width: 50%;
    height: 100%;
  }
  .card__info .card__info-img {
    margin-left: -110px;
    margin-top: -10px;
  }
  .fifth-card img,
  .sixth-card img {
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .card__info-close {
    margin-left: 830px;
  }
  .card__info-text .card__info-text {
    width: 40%;
  }
  .card__info-text .sizes {
    width: 420px;
  }
  .footer-title {
    width: 190px;
  }
  .foother__buy-text {
    width: 190px;
  }
  .hero__buy-popup {
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 60%;
  }
  .hero__buy-popup::before {
    content: '';
    background-image: url("/assets/images/polygon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 200px;
  }
}

@media (max-width: 931px) {
  .hero__buy-popup {
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 60%;
  }
  .hero__buy-popup::before {
    content: '';
    background-image: url("/assets/images/polygon.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 200px;
  }
  .container {
    width: 500px;
  }
  .hero-container {
    position: relative;
    z-index: 3;
    height: 830px;
  }
  .hero-container::after {
    display: none;
  }
  .hero__bottom-icons-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
  .hero__bottom-icons-container .bottom-icons-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__bottom-icons-container .bottom-icon {
    margin-bottom: 20px;
  }
  .second-screen__tabs {
    width: 300px;
    margin: 50px auto 0;
  }
  .second-screen__cards {
    width: 80%;
    margin: 50px auto;
    height: auto;
  }
  .card__info {
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__info .card__info-img,
  .card__info .card__info-text {
    width: 50%;
    height: 100%;
  }
  .card__info .card__info-img {
    margin-left: -200px;
    margin-top: -10px;
  }
  .fifth-card img,
  .sixth-card img {
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .card__info-close {
    margin-left: 830px;
  }
  .card__info-text .card__info-text {
    width: 40%;
  }
  .card__info-text .sizes {
    width: 420px;
  }
  .map-block__title {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .map-block__text-info {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .squares .squares__item-first {
    width: 50%;
  }
  .squares .squares__item-second {
    width: 50%;
  }
  .squares .squares__item-third {
    width: 100%;
  }
  .squares .squares__item-fourth {
    width: 50%;
  }
  .squares .squares__item-fifth {
    width: 50%;
  }
  .squares .squares__item-sixth {
    width: 100%;
  }
  .email-block {
    height: 600px;
  }
  .email-block .email-block__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-block .email-block__list {
    margin-bottom: 40px;
  }
  .email-block .email-block__send-email {
    margin: 0 auto;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__anchors,
  .footer__buy,
  .footer__contacts,
  .footer__socials {
    margin-bottom: 40px;
  }
  .card__info-close {
    display: none;
  }
  .info-not-active {
    display: none;
  }
}
/*# sourceMappingURL=adaptive.css.map */